<header>
  <div id = "title-container">
    <h1>Weather App</h1>
  </div>
  <h4>Here are the top 25 cities in the world for university students and their weather information.</h4>
</header>
<main id = "container" role="main">
  <table class="display cell-border" id = "data-table" role="table">
    <caption>World's top 25 cities weather</caption>
    <thead>
      <tr id = "cities" role="contentinfo">
        <th class = "table-header" alt = "City" >City</th>
        <th class = "table-header" alt = "City">Country</th>
        <th class = "table-header" alt = "City">Temperature ℃</th>
      </tr>
    </thead>
    <tbody id = "data-body">
    </tbody>
    <tfoot>
      <tr id = "no-border" role="contentinfo">
          <th>City</th>
          <th>Country</th>
          <th>Temperature ℃</th>
      </tr>
  </tfoot>
  </table>
  <canvas id="myChart" width="400" height="400" aria-label = "temperature chart" role = "chart"></canvas>
  <div id = "loading-container">
    <img id = "loading-img" alt = "loading" role="progresswheel" src = 'assets/img/loadingMC.gif'>
  </div>
</main>

