<div id = "title-container">
  <h1>Weather App</h1>
</div>
<h4>Here are the top 25 cities in the world for university students and their weather information.</h4>
<div id = "container">
  <table class="display" id = "data-table">
    <caption>World's top 25 cities weather</caption>
    <thead>
      <tr id = "cities">
        <th class = "table-header">City</th>
        <th class = "table-header">Country</th>
        <th class = "table-header">Temperature</th>
      </tr>
    </thead>
    <tbody id = "data-body">
      <!-- <tr>
        <td>Berglunds snabbkop</td>
        <td>Sweden</td>
        <td>20.5</td>
      </tr> -->
    </tbody>
    <tfoot>
      <tr id = "no-border">
          <th>City</th>
          <th>Country</th>
          <th>Temperature</th>
      </tr>
  </tfoot>
  </table>
</div>

