$main-color: #eb6864;

header {
    #title-container{
        padding-top: 30px;
        text-align: center;
        h1 {
            color: $main-color;
            padding-bottom: 10px;
            font-size: 60px;
        }
    } 
}

h4, caption, #loading-container {
    text-align: center;
}


#container {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    

    #data-table {
        margin: 0 auto;

        .table-header, #no-border {
            color: $main-color;
        }
    }
  }

