<div id = "title-container">
  <h1>Weather App</h1>
</div>
<h4>Here are the top 10 cities in the world for university students and their weather information.</h4>
<div id = "container">
  <table id="data-table">
    <caption>World's top 10 cities weather</caption>
    <tr id = "cities">
      <th class = "table-header">City</th>
      <th class = "table-header">Country</th>
      <th class = "table-header">Temperature</th>
    </tr>
    <tr>
      <td>Berglunds snabbkop</td>
      <td>Sweden</td>
      <td>20.5</td>
    </tr>
    <tr>
      <td>Jeffery</td>
      <td>USA</td>
      <td>5.67</td>
    </tr>
  </table>
</div>

