$align-center: center;
$main-color: #eb6864;
$none: none;

// #data-table {
//     text-align: $align-center;
// }

#title-container {
    padding-top: 30px;
    text-align: $align-center;
}

#title-container h1 {
    color: $main-color;
    padding-bottom: 10px;
    font-size: 60px;
}

h4 {
    text-align: $align-center;
}

caption {
    text-align: $align-center;
}

#container {
    margin-top: 50px;
  }

.table-header {
    color: $main-color;
}

// tr, td, th {
//     border: 1px black solid;
//     border-collapse: collapse;
// }

#data-table {
    margin: 0 auto;
}

#no-border, #no-border th  {
    // border: 0;
    color: $main-color;
}
